@use 'sass:math';

@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
    $addSize: $pcSize - $mobSize;
    @if $maxSize==1 {
       //Только если меньше контейнера
       #{$indentType}: $pcSize + px;
       @media (max-width: #{$maxWidthContainer + px}) {
          #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
       }
    } @else if $maxSize==2 {
       //Только если больше контейнера
       #{$indentType}: $pcSize + px;
       @media (min-width: #{$maxWidthContainer + px}) {
          #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
       }
    } @else {
       //Всегда
       #{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
 }

 @function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
 }

 @function rem($px) {
   $result: math.div($px,16) + rem;
   @return $result;
 }

 @function em($px) {
   $result: math.div($px,16) + em;
   @return $result;
}